--immutable
--inline-builds
--check-files
--network-timeout 300000
--non-interactive
--production=false
--no-progress
--registry "https://registry.yarnpkg.com"
--cache-folder ".yarn"
--yarn-offline-mirror "./.yarn-offline-cache"
--no-node-version-check
--yarn-path "./.yarn/releases/yarn-1.22.19.js"
