// Place all the styles related to the Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .form-check-input {
//     display: none; /* Hide the default radio buttons */
// }
$main-color: #d8a20c;
$secondary-color: #fff6a4;

.form {
  padding: 4rem;
  background-color: $main-color;
  border-radius: 8px;

  .bg-input {
    background-color: $secondary-color;

    &:focus {
      background-color: $secondary-color;
    }
  }
}

.card-body {
  background-color: $secondary-color;
  
  a {
    text-decoration: none;
  }
}

.image-pokemon {
  width: 250px;
  height: 250px;
}

.pokemon-index {
  display: flex;
  flex-wrap: wrap;
}
.pokemon-card {
  width: 14rem;

  img {
    width: 150px;
    height: 150px;
  }
}
