// Place all the styles related to the Pokedexes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image-pokedex__list {
  width: 50px;
  height: 50px;
}
.image-pokedex__show {
  width: 250px;
  height: 250px;
}

.btn-show {
  font-size: 1rem;
  background-color: #333;
  color: white;
  padding: 7px 13px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.2s all ease-in-out;

  &:hover {
    background-color: #454545;
  }
}

.bg-grass {
  background-color: #77CC55;
}
.bg-water {
  background-color: #3399FF;
}
.bg-fire {
  background-color: #FF4422;
}
.bg-bug {
  background-color: #AABB22;
}
.bg-flying {
  background-color: #8899FF;
}
.bg-normal {
  background-color: #AAAA99;
}
.bg-poison {
  background-color: #AA5599;
}
.bg-electric {
  background-color: #FFCC33;
}
.bg-ground {
  background-color: #DDBB55;
}
.bg-fairy {
  background-color: #EE99EE;
}
.bg-fighting {
  background-color: #BB5544;
}
.bg-psychic {
  background-color: #FF5599;
}
.bg-rock {
  background-color: #BBAA66;
}
.bg-ice {
  background-color: #66CCFF;
}
.bg-ghost {
  background-color: #6666BB;
}
.bg-dragon {
  background-color: #7766EE;
}